.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.color-gris
  background-color: #EFEFEF !important


.fondo1
  background-image: url("../assets/curso/introduccion/fondointro.png")
  background-repeat: no-repeat
  background-position: top left
  background-color: $color-adicional-1

@media screen and ( max-width: 767px )
  .fondo1
    background-image: none !important

.img-cover
  background-size: contain !important
  background: no-repeat
  

.bloque-texto-g__img
  width: 44% !important

@media screen and ( max-width:767px)
  .fondo-bloque
    width: 120px
    height: 120px

  .img-250
    width: 250px !important
    justify-content: center!important
    display: block
    margin: 0 auto
    margin-top: 2rem
  
.fnd-izq
  background-color:  #305075  !important  
  &:before 
      background-color: #EFEFEF !important
      left: 60% !important

.fnd-der
  background-color: #EFEFEF !important
  &:before 
    background-color:  #305075  !important  
    left: 40% !important

.fnd-der-1
  background-color: #EFEFEF !important
  &:before 
    background-color:  #305075  !important  
    left: 45% !important

.color-float
  &::before
    background-color: #EFEFEF !important
    top:60% !important

.img-cen
    width: 350px
    justify-content: center!important
    display: block
    margin: 0 auto

    




