.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 50%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 51%
    right: 30%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.color-gris
  background-color: #EFEFEF !important


.fondo1
  background-image: url("../assets/curso/introduccion/fondointro.png")
  background-repeat: no-repeat
  background-position: top left
  background-color: $color-adicional-1

@media screen and ( max-width: 767px )
  .fondo1
    background-image: none !important

.img-cover
  background-size: contain !important
  background: no-repeat

.bloque-texto-g__img
  width: 44% !important

.tarjeta--azul
  background-color: #EFEFEF !important


